.action_bar_cart {

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 65px;

    background-color: white;

    box-sizing: border-box;
    padding: 10px;

}

@media screen and (max-width: 1020px) {
    .action_bar_cart {
        height: 60px;
    }
}
