/* container ------------------------------------------------- */
.info_cart_item {

    width: 100%;

    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;

    gap: 10px;

}

/* items ---------------------------------------------------- */
.title_cart_item,
.description_cart_item {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* media ---------------------------------------------------- */
@media screen and (max-width: 1020px) {
    .description_cart_item {
        -webkit-line-clamp: 1;
    }
}
@media screen and (max-width: 768px) {
    .info_cart_item {
        flex-direction: column;
    }
}